<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>     
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/testdb</property>
    <property name="connection.username">root</property>
    <property name="connection.password">password</property>
    <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="hibernate.hbm2ddl.auto">create-drop</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
      
    <mapping class="net.codejava.Product" />
     
  </session-factory>
</hibernate-configuration>